In [1]:
### Investment data
#Real investment kucoin investment data 
#Initialize investments.ipynb file in Resources folder.
# Prepare API calls for investment data collection.
# Pull investment data from first exchange.
# Organize investment data.
# Pull investment data from remaining exchanges.
# Organize investment data from remaining exchanges

In [2]:
## Defining functions for investment data in Kucoin exchange

# get_headers(url): returns the headers needed for API authentication and authorization.
# get_account_data(url='/api/v1/accounts'): retrieves account data for a user.
# get_investment_data(url='/api/v1/accounts'): retrieves investment data for a user, specifically trade balances.
# get_all_tickers(url='/api/v1/symbols'): retrieves a list of all available trading pairs on the exchange.
# get_tickers(url='/api/v1/market/allTickers'): retrieves the ticker data for all trading pairs on the exchange.
# get_all_tickers: retrieves a list of all available trading pairs (tickers) on KuCoin.
# get_tickers: retrieves ticker information for all trading pairs on KuCoin.
# get_open_orders: retrieves a list of all currently open orders for a given trading pair on KuCoin.
# get_order_history: retrieves a list of all completed orders for a given trading pair on KuCoin.
# get_trade_history: retrieves a list of all trades (fills) for a given trading pair on KuCoin.
# place_order: places a limit order for a given trading pair on KuCoin.
# cancel_order: cancels an order with the given ID for a given trading pair on KuCoin.
# get_balance: retrieves the balance of a given currency in the user's KuCoin account.
# get_all_balances: retrieves the balance of all currencies in the user's KuCoin account.
# get_investment_data: retrieves investment data for the user, including currency, balance, and purchase price
# get_all_tickers: retrieves ticker data for all available currencies
# get_total_profit_loss: calculates the total profit or loss for the user's investments
# get_currency_holdings: retrieves the user's holdings for a specific currency
# get_exchange_balances: calculates the user's balances in USD for all currencies available on the exchange
# get_latest_price: retrieves the latest price for a specific currency
# get_price_history: retrieves the price history for a specific currency over a specified time period

In [11]:
import datetime
import time
import base64
import hmac
import hashlib
import requests
import json
import pandas as pd
from dotenv import load_dotenv
import os

# Now you should be able to import the pyfolio module
import pyfolio as pf
%matplotlib inline

# silence warnings
import warnings
warnings.filterwarnings('ignore')

In [12]:
dotenv_path = 'C:/Desktop/my_gitrepos/project-1/Resources/kucoin.env'
load_dotenv(dotenv_path)

True

In [13]:
api_key = os.getenv('KUCOIN_api_key')
api_secret = os.getenv('KUCOIN_api_secret')
api_passphrase = os.getenv('KUCOIN_api_passphrase')

In [14]:
def get_headers(url, method):
    now = int(time.time() * 1000)
    str_to_sign = str(now) + method + url
    signature = base64.b64encode(
        hmac.new(api_secret.encode('utf-8'), str_to_sign.encode('utf-8'), hashlib.sha256).digest())
    passphrase = base64.b64encode(
        hmac.new(api_secret.encode('utf-8'), api_passphrase.encode('utf-8'), hashlib.sha256).digest())
    headers = {
        "KC-API-SIGN": signature,
        "KC-API-TIMESTAMP": str(now),
        "KC-API-KEY": api_key,
        "KC-API-PASSPHRASE": passphrase,
        "KC-API-KEY-VERSION": "2"
    }
    return headers

def get_account_balance():
    url = '/api/v1/accounts'
    headers = get_headers(url, 'GET')
    response = requests.get('https://api.kucoin.com' + url, headers=headers)
    if response.status_code == 200:
        balances = response.json()['data']
        return balances
    else:
        print('Failed to get account balances. Error code:', response.status_code)
        return None

In [52]:
#get_account_balance()

In [16]:
balances = get_account_balance()
df = pd.DataFrame(balances)
account_data= df[['currency', 'balance', 'available','holds']]
account_data.head()

  currency     balance   available holds
0    ROUTE   3729.2422   3729.2422     0
1     ATOM          50          50     0
2     API3         235         235     0
3      KNC     142.316     142.316     0
4     USDT  0.00007904  0.00007904     0

In [17]:
account_data.head()

  currency     balance   available holds
0    ROUTE   3729.2422   3729.2422     0
1     ATOM          50          50     0
2     API3         235         235     0
3      KNC     142.316     142.316     0
4     USDT  0.00007904  0.00007904     0

In [18]:
def get_ticker(symbol):
    url = f'/api/v1/market/orderbook/level1?symbol={symbol}'
    headers = get_headers(url, 'GET')
    response = requests.get('https://api.kucoin.com' + url, headers=headers)
    if response.status_code == 200:
        ticker_data = response.json()
        return ticker_data['data']
    else:
        print('Failed to get ticker data for symbol', symbol, '. Error code:', response.status_code)
        return None

In [19]:
get_ticker('KNC-USDT')

{'time': 1681940722827,
 'sequence': '167474736',
 'price': '0.7159',
 'size': '3.3137',
 'bestBid': '0.7167',
 'bestBidSize': '341.5748',
 'bestAsk': '0.7174',
 'bestAskSize': '380.6784'}

In [20]:
def get_all_tickers():
    url = '/api/v1/market/allTickers'
    headers = get_headers(url, 'GET')
    response = requests.get('https://api.kucoin.com' + url, headers=headers)
    if response.status_code == 200:
        ticker_data = json.loads(response.text)
        return ticker_data
    else:
        print('Failed to get ticker data. Error code:', response.status_code)

In [53]:
#get_all_tickers()

In [54]:
def get_symbols():
    url = '/api/v2/symbols'
    headers = get_headers(url, 'GET')
    response = requests.request('get', 'https://api.kucoin.com'+url, headers=headers)
    if response.status_code == 200:
        symbols_data = response.json()['data']
        symbols_df = pd.DataFrame(symbols_data)
        return symbols_df
    else:
        print('Failed to get symbols data. Error code:', response.status_code)

In [55]:
get_symbols()

,symbol,name,baseCurrency,quoteCurrency,feeCurrency,market,baseMinSize,quoteMinSize,baseMaxSize,quoteMaxSize,baseIncrement,quoteIncrement,priceIncrement,priceLimitRate,minFunds,isMarginEnabled,enableTrading
0,LOKI-BTC,OXEN-BTC,LOKI,BTC,BTC,BTC,0.1,0.00001,10000000000,99999999,0.0001,0.000000001,0.000000001,0.1,0.000001,False,True
1,LOKI-ETH,OXEN-ETH,LOKI,ETH,ETH,ALTS,0.1,0.0001,10000000000,99999999,0.0001,0.0000001,0.0000001,0.1,0.00001,False,True
2,NRG-BTC,NRG-BTC,NRG,BTC,BTC,BTC,0.01,0.00001,10000000000,99999999,0.0001,0.00000001,0.00000001,0.1,0.000001,False,True
3,AVA-USDT,AVA-USDT,AVA,USDT,USDT,USDS,0.1,0.01,10000000000,99999999,0.0001,0.000001,0.000001,0.1,0.1,False,True
4,FET-BTC,FET-BTC,FET,BTC,BTC,BTC,0.1,0.00001,10000000000,99999999,0.0001,0.000000001,0.000000001,0.1,0.000001,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1318,PZP-USDT,PZP-USDT,PZP,USDT,USDT,USDS,1,0.1,10000000000,99999999,0.0001,0.0001,0.0001,0.1,0.1,False,True
1319,INJDOWN-USDT,INJDOWN-USDT,INJDOWN,USDT,USDT,USDS,0.1,0.1,999999999999,5000,0.0001,0.0001,0.0001,0.1,0.1,False,True
1320,ETCUP-USDT,ETCUP-USDT,ETCUP,USDT,USDT,USDS,0.1,0.1,999999999999,5000,0.0001,0.0001,0.0001,0.1,0.1,False,True
1321,ETCDOWN-USDT,ETCDOWN-USDT,ETCDOWN,USDT,USDT,USDS,0.1,0.1,999999999999,5000,0.0001,0.0001,0.0001,0.1,0.1,False,True
1322,INJUP-USDT,INJUP-USDT,INJUP,USDT,USDT,USDS,0.1,0.1,999999999999,5000,0.0001,0.0001,0.0001,0.1,0.1,False,True

In [56]:
def clean_symbols_data(symbols_df):
    symbols_df = symbols_df.loc[:, ['symbol', 'name', 'baseCurrency', 'quoteCurrency', 'feeCurrency', 'market']]
    symbols_df = symbols_df.rename(columns={
        'baseCurrency': 'base_currency',
        'quoteCurrency': 'quote_currency',
        'feeCurrency': 'fee_currency',
    })
    symbols_df = symbols_df.set_index('symbol')
    return symbols_df
symbols_df = get_symbols()
symbols_cleaned_df = clean_symbols_data(symbols_df)
symbols_cleaned_df.head()
symbols_cleaned_df.tail()

                      name base_currency quote_currency fee_currency market
symbol
PZP-USDT          PZP-USDT           PZP           USDT         USDT   USDS
INJDOWN-USDT  INJDOWN-USDT       INJDOWN           USDT         USDT   USDS
ETCUP-USDT      ETCUP-USDT         ETCUP           USDT         USDT   USDS
ETCDOWN-USDT  ETCDOWN-USDT       ETCDOWN           USDT         USDT   USDS
INJUP-USDT      INJUP-USDT         INJUP           USDT         USDT   USDS

In [57]:
def get_symbols_pair():
    symbols_df = get_symbols()
    return symbols_df['symbol']

In [58]:
get_symbols_pair()

0           LOKI-BTC
1           LOKI-ETH
2            NRG-BTC
3           AVA-USDT
4            FET-BTC
            ...
1318        PZP-USDT
1319    INJDOWN-USDT
1320      ETCUP-USDT
1321    ETCDOWN-USDT
1322      INJUP-USDT
Name: symbol, Length: 1323, dtype: object

In [59]:
def get_base_currency():
    symbols_df = get_symbols()
    return symbols_df['baseCurrency']

In [60]:
get_base_currency()

0          LOKI
1          LOKI
2           NRG
3           AVA
4           FET
         ...
1318        PZP
1319    INJDOWN
1320      ETCUP
1321    ETCDOWN
1322      INJUP
Name: baseCurrency, Length: 1323, dtype: object

In [61]:
def get_quote_currency():
    symbols_df = get_symbols()
    return symbols_df['quoteCurrency']

In [62]:
get_quote_currency()

0        BTC
1        ETH
2        BTC
3       USDT
4        BTC
        ...
1318    USDT
1319    USDT
1320    USDT
1321    USDT
1322    USDT
Name: quoteCurrency, Length: 1323, dtype: object

In [63]:
def get_deposit_list(currency=None, page=None, pageSize=None):
    url = '/api/v1/deposits'
    headers = get_headers(url, 'GET')
    params = {}
    if currency:
        params['currency'] = currency
    if page:
        params['page'] = page
    if pageSize:
        params['pageSize'] = pageSize
    
    response = requests.get('https://api.kucoin.com' + url, headers=headers, params=params)
    if response.status_code == 200:
        deposit_list = response.json()
        return deposit_list
    else:
        print('Failed to get deposit list. Error code:', response.status_code)

In [64]:
#get_deposit_list()

In [65]:
def get_base_fee():
    url = '/api/v1/base-fee'
    headers = get_headers(url, 'GET')
    response = requests.get('https://api.kucoin.com'+url, headers=headers)
    if response.status_code == 200:
        fees_data = response.json()['data']
        fees_df = pd.DataFrame(fees_data, index=[0])
        return fees_df
    else:
        print('Failed to get trade fees data. Error code:', response.status_code)

In [66]:
get_base_fee()

  takerFeeRate makerFeeRate
0        0.001        0.001

In [67]:
def get_actual_fee_rate(symbol):
    url = '/api/v1/trade-fees'
    headers = get_headers(url, 'GET')
    response = requests.get('https://api.kucoin.com'+url+'?symbols='+symbol, headers=headers)
    if response.status_code == 200:
        fees_data = response.json()['data']
        fees_df = pd.DataFrame(fees_data)
        return fees_df
    else:
        print('Failed to get actual fee rate data. Error code:', response.status_code)

In [68]:
get_actual_fee_rate('KNC-USDT')

Failed to get actual fee rate data. Error code: 401

In [69]:
def get_24hr_stats(symbol):
    url = 'https://api.kucoin.com/api/v1/market/stats'
    params = {'symbol': symbol}
    response = requests.get(url, params=params)
    data = json.loads(response.text)['data']
    return data

In [70]:
get_24hr_stats('KNC-USDT')

{'time': 1681941422706,
 'symbol': 'KNC-USDT',
 'buy': '0.7195',
 'sell': '0.721',
 'changeRate': '-0.0809',
 'changePrice': '-0.0634',
 'high': '0.7881',
 'low': '0.7055',
 'vol': '28208.6454',
 'volValue': '20698.19664451',
 'last': '0.7202',
 'averagePrice': '0.74564723',
 'takerFeeRate': '0.001',
 'makerFeeRate': '0.001',
 'takerCoefficient': '1',
 'makerCoefficient': '1'}

In [71]:
def get_market_list():
    endpoint = 'https://api.kucoin.com/api/v1/markets'
    response = requests.get(endpoint)
    data = json.loads(response.content)
    markets = data['data']
    print(markets)

In [72]:
get_market_list()

['USDS', 'Hong-Kong', 'BTC', 'KCS', 'ALTS', 'NFT-ETF', 'FIAT', 'Arbitrum', 'DeFi', 'Shanghai-Upgrade', 'NFT', 'AI', 'Polkadot', 'ETF', 'Layer 1']

In [73]:
def get_trade_histories(symbol):
    url = 'https://api.kucoin.com/api/v1/market/histories?symbol={}'.format(symbol)
    response = requests.get(url)
    if response.status_code == 200:
        return response.json()['data']
    else:
        return None

In [75]:
#get_trade_histories('KNC-BTC')

In [76]:
def get_currencies():
    url = '/api/v1/currencies'
    response = requests.get('https://api.kucoin.com' + url)
    if response.status_code == 200:
        currencies_data = response.json()
        return currencies_data
    else:
        print('Failed to get currencies data. Error code:', response.status_code)

In [77]:
#get_currencies()

In [78]:
def get_fiat_price(symbol):
    url = 'https://api.kucoin.com/api/v1/prices'
    params = {"symbols": symbol}
    response = requests.get(url, params=params)

    if response.status_code == 200:
        data = response.json()['data']
        return float(data[symbol])
    else:
        print(f"Failed to get {symbol} price. Error code:", response.status_code)

In [79]:
get_fiat_price('USDT')

1.0004

In [80]:
def get_klines(symbol, interval='1day'):
    url = f'https://api.kucoin.com/api/v1/market/candles?type={interval}&symbol={symbol}'
    response = requests.get(url)
    if response.status_code == 200:
        data = response.json()['data']
        klines_data = pd.DataFrame(data, columns=['time', 'open', 'close', 'high', 'low', 'volume', 'turnover'])
        klines_data['time'] = pd.to_datetime(klines_data['time'], unit='ms')
        klines_data.set_index('time', inplace=True)
        klines_data = klines_data.astype(float)
        return klines_data
    else:
        print(f'Failed to get {symbol} Klines data. Error code:', response.status_code)
        return None

In [81]:
symbol = 'BTC-USDT'
interval = '1day'
klines_data = get_klines(symbol, interval)
klines_data.head()

,open,close,high,low,volume,turnover
time,,,,,,
1970-01-20 11:11:02.400,30380.2,29144.7,30413.8,28800.0,7966.455318,2.340657e+08
1970-01-20 11:09:36.000,29426.8,30380.1,30482.7,29100.0,5394.409606,1.619533e+08
1970-01-20 11:08:09.600,30304.0,29426.7,30315.1,29239.6,4352.109700,1.291750e+08
1970-01-20 11:06:43.200,30298.2,30304.1,30548.0,30123.6,1978.649750,5.997943e+07
1970-01-20 11:05:16.800,30463.2,30298.2,30594.9,30205.1,2075.344905,6.301621e+07

In [84]:
# Convert transaction data into a portfolio object
#portfolio = pf.create_returns_tear_sheet(df)

# Calculate daily returns for crypto assets in portfolio
#crypto_rets = pf.utils.get_crypto_returns(portfolio)

# Create Bayesian tear sheet for crypto returns
#out_of_sample = crypto_rets.index[-40]
#pf.create_bayesian_tear_sheet(crypto_rets, live_start_date=out_of_sample)

#crypto_rets = pf.utils.get_symbol_rets('FB')

In [85]:
def get_investment_data(url='/api/v1/accounts'):
    headers = get_headers(url, 'GET')
    response = requests.get(f'https://api.kucoin.com{url}', headers=headers)
    if response.status_code == 200:
        data = response.json()
        return pd.DataFrame(data['data'])
    else:
        print(f"Failed to get investment data. Error code: {response.status_code}")
        return None

In [86]:
get_investment_data()

                         id currency   type     balance   available holds
0  625a8e24c3c51b0001e1a13a    ROUTE  trade   3729.2422   3729.2422     0
1  62d85e5b501cb3000163af50     ATOM  trade          50          50     0
2  62d854f9cf97b00001868262     API3  trade         235         235     0
3  62d8bdda975dca0001f55ac0      KNC  trade     142.316     142.316     0
4  6259aad5a560990001c98ddb     USDT  trade  0.00007904  0.00007904     0
5  62599d12c750d100018732c2     USDT   main           0           0     0

In [87]:
def get_total_portfolio_value():
    tickers = get_all_tickers()['data']['ticker']
    balances = get_account_balance()
    total_value = 0.0
    for row in balances:
        currency = row['currency']
        holdings = row['balance']
        ticker = next((item for item in tickers if item['symbol'] == f"{currency}-USDT"), None)
        if ticker is not None:
            price = float(ticker['last'])
            value = price * float(holdings)
            total_value += value
    return total_value

In [88]:
get_total_portfolio_value()

9366.78187404

In [89]:
def get_total_profit_loss():
    balances = get_account_balance()
    total_profit_loss = 0.0
    for balance in balances:
        currency = balance['currency']
        holdings = float(balance['balance'])
        if holdings == 0:
            continue
        ticker = next((item for item in get_all_tickers()['data']['ticker'] if item['symbol'] == f"{currency}-USDT"), None)
        if ticker:
            price = float(ticker.get('last', 0))
            avg_price = float(balance.get('avgPrice', 0))
            profit_loss = (price - avg_price) * holdings
            total_profit_loss += profit_loss
    return total_profit_loss

In [92]:
get_total_profit_loss()

9374.613282659999

In [94]:
def get_assets_data():
    tickers = get_all_tickers()['data']['ticker']
    balances = get_account_balance()
    assets_data = {}
    for row in balances:
        currency = row['currency']
        holdings = row['balance']
        ticker = next((item for item in tickers if item['symbol'] == f"{currency}-USDT"), None)
        if ticker is not None:
            price = float(ticker['last'])
            value = price * float(holdings)
            asset_data = {'symbol': currency, 'holdings': holdings, 'price': price, 'value': value}
            assets_data[currency] = asset_data
    return assets_data

In [96]:
get_assets_data()

{'ROUTE': {'symbol': 'ROUTE',
  'holdings': '3729.2422',
  'price': 2.2258,
  'value': 8300.54728876},
 'ATOM': {'symbol': 'ATOM',
  'holdings': '50',
  'price': 11.9053,
  'value': 595.265},
 'API3': {'symbol': 'API3',
  'holdings': '235',
  'price': 1.593,
  'value': 374.355},
 'KNC': {'symbol': 'KNC',
  'holdings': '142.316',
  'price': 0.7208,
  'value': 102.5813728}}