# Queries
This document will contain all queries required for interaction between the application and the database.

In [1]:
# Import dependencies
import pandas as pd
import sqlalchemy as db

In [2]:
# Connect to database
engine = db.create_engine("postgresql://postgres:postgres@localhost:5432/fintech1_db")

#### Query function to create 'assets' table

In [3]:
# Define query function
def create_assets_table():
    
    # Create table schema
    query = """
        DROP TABLE IF EXISTS assets CASCADE;
        CREATE TABLE assets (
            asset_id SERIAL NOT NULL,
            ticker VARCHAR(255) NOT NULL,
            name VARCHAR(255) NOT NULL,
            CONSTRAINT pk_assets PRIMARY KEY (
                asset_id
            ),
            CONSTRAINT uc_assets_ticker UNIQUE (
                ticker
            )
        );
    """
    
    # Run query
    with engine.connect() as con:
        con.execute(query)
    return None

create_assets_table()

#### Query function to create 'exchanges' table

In [4]:
# Define query function
def create_exchanges_table():
    
    # Create table schema
    query = """
        DROP TABLE IF EXISTS exchanges CASCADE;
        CREATE TABLE exchanges (
            exchange_id SERIAL NOT NULL,
            name VARCHAR(255) NOT NULL,
            address VARCHAR(255) NOT NULL,
            city VARCHAR(255) NOT NULL,
            region VARCHAR(255) NOT NULL,
            country VARCHAR(255) NOT NULL,
            latitude FLOAT NOT NULL,
            longitude FLOAT NOT NULL,
            CONSTRAINT pk_exchanges PRIMARY KEY (
                exchange_id
            ),
            CONSTRAINT uc_exchanges_name UNIQUE (
                name
            )
        );
    """
    
    # Run query
    with engine.connect() as con:
        con.execute(query)
    return None

create_exchanges_table()

#### Query function to create 'investments' table

In [5]:
# Define query function
def create_investments_table():
    
    # Create table schema
    query = """
        DROP TABLE IF EXISTS investments CASCADE;
        CREATE TABLE investments (
            investment_id SERIAL NOT NULL,
            asset_id INT NOT NULL,
            exchange_id INT NOT NULL,
            open_price FLOAT NOT NULL,
            open_timestamp TIMESTAMP NOT NULL,
            close_price FLOAT NOT NULL,
            close_timestamp TIMESTAMP NOT NULL,
            CONSTRAINT pk_investments PRIMARY KEY (
                investment_id
            )
        );
    """
    
    # Run query
    with engine.connect() as con:
        con.execute(query)
    return None

create_investments_table()

#### Query function to create 'portfolios' table

In [51]:
# Define query function
def create_portfolios_table():
    
    # Create table schema
    query = """
        DROP TABLE IF EXISTS portfolios CASCADE;
        CREATE TABLE portfolios (
            portfolio_id SERIAL NOT NULL,
            name VARCHAR(255) NOT NULL,
            investment_period INT NOT NULL,
            CONSTRAINT pk_portfolios PRIMARY KEY (
                portfolio_id
            ),
            CONSTRAINT uc_portfolios_name UNIQUE (
                name
            )
        );
    """
    
    # Run query
    with engine.connect() as con:
        con.execute(query)
    return None

create_portfolios_table()

#### Query function to create 'assets_portfolios' junction table

In [6]:
# Define query function
def create_assets_portfolios_table():
    
    # Create table schema
    query = """
        DROP TABLE IF EXISTS assets_portfolios CASCADE;
        CREATE TABLE assets_portfolios (
            portfolio_id INT NOT NULL,
            asset_id INT NOT NULL,
            weight FLOAT NOT NULL
        );
    """
    
    # Run query
    with engine.connect() as con:
        con.execute(query)
    return None

create_assets_portfolios_table()

#### Query function to add foreign key constraints to 'investments' table

In [7]:
# Define query function
def add_investments_fks():
    
    # Create query
    query = """
        ALTER TABLE investments
        ADD CONSTRAINT fk_investments_asset_id
        FOREIGN KEY (asset_id)
        REFERENCES assets (asset_id);
        
        ALTER TABLE investments
        ADD CONSTRAINT fk_investments_exchange_id
        FOREIGN KEY (exchange_id)
        REFERENCES exchanges (exchange_id);
    """
    
    # Run query
    with engine.connect() as con:
        con.execute(query)
    return None

add_investments_fks()

#### Query function to add foreign key constraints to 'assets_portfolios' junction table

In [8]:
# Define query function
def add_assets_portfolios_fks():
    
    # Create query
    query = """
        ALTER TABLE assets_portfolios
        ADD CONSTRAINT fk_assets_portfolios_asset_id
        FOREIGN KEY (asset_id)
        REFERENCES assets (asset_id);
        
        ALTER TABLE assets_portfolios
        ADD CONSTRAINT fk_assets_portfolios_portfolio_id
        FOREIGN KEY (portfolio_id)
        REFERENCES portfolios (portfolio_id);
    """
    
    # Run query
    with engine.connect() as con:
        con.execute(query)
    return None

add_assets_portfolios_fks()

#### Query function to insert row into 'assets' table and return row id

In [3]:
# Define query function
def insert_into_assets(ticker, name, engine):
    
    # Create query
    query = """
        INSERT INTO assets
        (ticker, name)
        VALUES (
            '""" + ticker + """',
            '""" + name + """'
        )
        ON CONFLICT (ticker)
        DO UPDATE SET
            ticker='""" + ticker + """',
            name='""" + name + """'
        RETURNING asset_id;
    """
    
    # Run query
    query_result = pd.read_sql(query, engine)
    return query_result

In [55]:
# Query to insert row into 'exchanges' table
def insert_into_exchanges(name, address, city, region, country, latitude, longitude):
    query = """
        INSERT INTO exchanges
        (name, address, city, region, country, latitude, longitude)
        VALUES (
            '""" + name + """',
            '""" + address + """',
            '""" + city + """',
            '""" + region + """',
            '""" + country + """',
            """ + str(latitude) + """,
            """ + str(longitude) + """
        )
        ON CONFLICT (name)
        DO UPDATE SET
            name='""" + name + """',
            address='""" + address + """',
            city='""" + city + """',
            region='""" + region + """',
            country='""" + country + """',
            latitude=""" + str(latitude) + """,
            longitude=""" + str(longitude) + """
        RETURNING exchange_id;
    """
    
    query_result = pd.read_sql(query, engine)
    return query_result
    
insert_into_exchanges('Questrade', '5650 Yonge Street', 'Toronto', 'Ontario', 'Canada', 43.78037, -79.41643)

   exchange_id
0            1

In [ ]:
# Query to insert row into 'investments' table
def insert_into_investments(asset_id, exchange_id, open_price, open_timestamp, close_price, close_timestamp):
    query = """
        INSERT INTO investments
        (asset_id, exchange_id, open_price, open_timestamp, close_price, close_timestamp)
        VALUES (
            """ + str(asset_id) + """,
            """ + str(exchange_id) + """,
            """ + str(open_price) + """,
            '""" + str(open_timestamp) + """',
            """ + str(close_price) + """,
            '""" + str(close_timestamp) + """'
        );
    """
    
    query_result = pd.read_sql(query, engine)
    
insert_into_investments(1, 1, 51.2345, pd.Timestamp.today(), 56.7890, pd.Timestamp.today())

In [6]:
# Query to insert row into 'portfolios' table and return row id
def insert_into_portfolios(name, investment_period, engine):
    query = """
        INSERT INTO portfolios
        (name, investment_period)
        VALUES (
            '""" + name + """',
            """ + str(investment_period) + """
        )
        ON CONFLICT (name)
        DO UPDATE SET
            name='""" + name + """'
        RETURNING portfolio_id;
    """
    
    query_result = pd.read_sql(query, engine)
    return(query_result)

In [1]:
# Query to insert row in 'assets_portfolios' junction table
def insert_into_assets_portfolios(portfolio_id, asset_id, weight, engine):
    query = """
        INSERT INTO assets_portfolios
        (portfolio_id, asset_id, weight)
        VALUES (
            """ + str(portfolio_id) + """,
            """ + str(asset_id) + """,
            """ + str(weight) + """
        )
        RETURNING 'portfolio_id';
    """
    
    pd.read_sql(query, engine)

In [ ]:
# Query to delete row from 'exchanges' table
def delete_from_exchanges(exchange_id):
    query = """
        DELETE FROM exchanges
        WHERE exchange_id = """ + str(exchange_id) + """;
    """
    
    query_result = pd.read_sql(query, engine)
    return(query_result)
    
print(delete_from_exchanges(2))

In [ ]:
# Query to delete row from 'portfolios' table
def delete_from_portfolios(portfolio_id):
    query = """
        DELETE FROM portfolios
        WHERE portfolio_id = """ + str(portfolio_id) + """;
    """
    
    query_result = pd.read_sql(query, engine)
    return(query_result)
    
print(delete_from_portfolios(2))

In [10]:
# Query to delete row from 'assets_portfolios' junction table
def delete_from_assets_portfolios(portfolio_id, engine):
    query = """
        DELETE
        FROM assets_portfolios
        WHERE portfolio_id = """ + str(portfolio_id) + """
        RETURNING portfolio_id;
    """
    
    query_result = pd.read_sql(query, engine)
    return(query_result)

In [ ]:
# Query to select data from 'exchanges' table
def select_from_exchanges(exchange_id):
    query = """
        SELECT * FROM exchanges
        WHERE exchange_id = """ + str(exchange_id) + """;
    """
    
    query_result = pd.read_sql(query, engine)
    return(query_result)
    
print(select_from_exchanges(2))

In [ ]:
# Query to select data from 'investments' table
def select_from_investments(investment_id):
    query = """
        SELECT * FROM investments
        WHERE investment_id = """ + str(investment_id) + """;
    """
    
    query_result = pd.read_sql(query, engine)
    return(query_result)
    
print(select_from_investments(2))

In [36]:
# Query to select all portfolio data
def select_all_portfolio_data(engine):
    query = """
        SELECT p.portfolio_id, p.name portfolio_name, p.investment_period, a.asset_id, a.ticker, a.name ticker_name, ap.weight
        FROM portfolios p
        INNER JOIN assets_portfolios ap ON p.portfolio_id = ap.portfolio_id
        INNER JOIN assets a ON ap.asset_id = a.asset_id;
    """
    
    query_result = pd.read_sql(query, engine)
    return(query_result)
    
# data = select_all_portfolio_data(engine)
# names = data['portfolio_name'].unique()
# names

array(['New portfolio 1'], dtype=object)

In [18]:
# Query to select specific portfolio data
def select_portfolio_data(portfolio_id):
    query = """
        SELECT *
        FROM portfolios p
        INNER JOIN assets_portfolios ap ON p.portfolio_id = ap.portfolio_id
        INNER JOIN assets a ON ap.asset_id = a.asset_id
        WHERE p.portfolio_id = """ + str(portfolio_id) + """;
    """
    
    query_result = pd.read_sql(query, engine)
    return(query_result)
    
#print(select_portfolio_data(1))