# Queries
This document will contain all queries required for interaction between the application and the database.

In [2]:
# Import dependencies
from dotenv import find_dotenv, load_dotenv
from os import environ as env
import pandas as pd
import sqlalchemy as db

In [3]:
# Load .env file
ENV_FILE = find_dotenv()
if ENV_FILE:
    load_dotenv(ENV_FILE)

# Set database credentials
db_user = env.get('DB_USER')
db_pass = env.get('DB_PASS')

# Connect to database
engine = db.create_engine("postgresql://"+db_user+":"+db_pass+"@localhost:5432/fintech1_db")

#### CREATE 'assets' table

In [6]:
# Define query function
def create_assets_table():
    
    # Create table schema
    query = """
        DROP TABLE IF EXISTS assets CASCADE;
        CREATE TABLE assets (
            asset_id SERIAL NOT NULL,
            ticker VARCHAR(255) NOT NULL,
            name VARCHAR(255) NOT NULL,
            CONSTRAINT pk_assets PRIMARY KEY (
                asset_id
            ),
            CONSTRAINT uc_assets_ticker UNIQUE (
                ticker
            )
        );
    """
    
    # Run query
    engine.connect().execute(db.text(query))
    return 'Success'

#### CREATE 'exchanges' table

In [7]:
# Define query function
def create_exchanges_table():
    
    # Create table schema
    query = """
        DROP TABLE IF EXISTS exchanges CASCADE;
        CREATE TABLE exchanges (
            exchange_id SERIAL NOT NULL,
            name VARCHAR(255) NOT NULL,
            address VARCHAR(255) NOT NULL,
            city VARCHAR(255) NOT NULL,
            region VARCHAR(255) NOT NULL,
            country VARCHAR(255) NOT NULL,
            latitude FLOAT NOT NULL,
            longitude FLOAT NOT NULL,
            CONSTRAINT pk_exchanges PRIMARY KEY (
                exchange_id
            ),
            CONSTRAINT uc_exchanges_name UNIQUE (
                name
            )
        );
    """
    
    # Run query
    engine.connect().execute(db.text(query))
    return 'Success'

#### CREATE 'investments' table

In [8]:
# Define query function
def create_investments_table():
    
    # Create table schema
    query = """
        DROP TABLE IF EXISTS investments CASCADE;
        CREATE TABLE investments (
            investment_id SERIAL NOT NULL,
            asset_id INT NOT NULL,
            exchange_id INT NOT NULL,
            open_price FLOAT NOT NULL,
            open_timestamp TIMESTAMP NOT NULL,
            close_price FLOAT NOT NULL,
            close_timestamp TIMESTAMP NOT NULL,
            CONSTRAINT pk_investments PRIMARY KEY (
                investment_id
            )
        );
    """
    
    # Run query
    engine.connect().execute(db.text(query))
    return 'Success'

#### CREATE 'portfolios' table

In [9]:
# Define query function
def create_portfolios_table():
    
    # Create table schema
    query = """
        DROP TABLE IF EXISTS portfolios CASCADE;
        CREATE TABLE portfolios (
            portfolio_id SERIAL NOT NULL,
            name VARCHAR(255) NOT NULL,
            investment_period INT NOT NULL,
            CONSTRAINT pk_portfolios PRIMARY KEY (
                portfolio_id
            ),
            CONSTRAINT uc_portfolios_name UNIQUE (
                name
            )
        );
    """
    
    # Run query
    engine.connect().execute(db.text(query))
    return 'Success'

#### CREATE 'assets_portfolios' junction table

In [10]:
# Define query function
def create_assets_portfolios_table():
    
    # Create table schema
    query = """
        DROP TABLE IF EXISTS assets_portfolios CASCADE;
        CREATE TABLE assets_portfolios (
            portfolio_id INT NOT NULL,
            asset_id INT NOT NULL,
            weight FLOAT NOT NULL
        );
    """
    
    # Run query
    engine.connect().execute(db.text(query))
    return 'Success'

#### ADD CONSTRAINTS to 'investments' table

In [7]:
# Define query function
def add_investments_fks():
    
    # Create query
    query = """
        ALTER TABLE investments
        ADD CONSTRAINT fk_investments_asset_id
        FOREIGN KEY (asset_id)
        REFERENCES assets (asset_id);
        
        ALTER TABLE investments
        ADD CONSTRAINT fk_investments_exchange_id
        FOREIGN KEY (exchange_id)
        REFERENCES exchanges (exchange_id);
    """
    
    # Run query
    engine.connect().execute(db.text(query))
    return 'Success'

'Success'

#### ADD CONSTRAINTS to 'assets_portfolios' junction table

In [8]:
# Define query function
def add_assets_portfolios_fks():
    
    # Create query
    query = """
        ALTER TABLE assets_portfolios
        ADD CONSTRAINT fk_assets_portfolios_asset_id
        FOREIGN KEY (asset_id)
        REFERENCES assets (asset_id);
        
        ALTER TABLE assets_portfolios
        ADD CONSTRAINT fk_assets_portfolios_portfolio_id
        FOREIGN KEY (portfolio_id)
        REFERENCES portfolios (portfolio_id);
    """
    
    # Run query
    engine.connect().execute(db.text(query))
    return 'Success'

'Success'

#### INSERT row into 'assets' table and return row id

In [33]:
# Define query function
def insert_into_assets(ticker, name, engine):
    
    # Create query
    query = """
        INSERT INTO assets
        (ticker, name)
        VALUES (
            '""" + ticker + """',
            '""" + name + """'
        )
        ON CONFLICT (ticker)
        DO UPDATE SET
            ticker='""" + ticker + """',
            name='""" + name + """'
        RETURNING asset_id;
    """

    # Run query
    query_result = engine.connect().execute(db.text(query))
    return query_result.first()[0]

#### INSERT row into 'exchanges' table and return row id

In [7]:
# Define query function
def insert_into_exchanges(name, address, city, region, country, latitude, longitude, engine):
    
    # Create query
    query = """
        INSERT INTO exchanges
        (name, address, city, region, country, latitude, longitude)
        VALUES (
            '""" + name + """',
            '""" + address + """',
            '""" + city + """',
            '""" + region + """',
            '""" + country + """',
            """ + str(latitude) + """,
            """ + str(longitude) + """
        )
        ON CONFLICT (name)
        DO UPDATE SET
            name='""" + name + """',
            address='""" + address + """',
            city='""" + city + """',
            region='""" + region + """',
            country='""" + country + """',
            latitude=""" + str(latitude) + """,
            longitude=""" + str(longitude) + """
        RETURNING exchange_id;
    """
    
    # Run query
    query_result = engine.connect().execute(db.text(query))
    return query_result.first()[0]

#### INSERT row into 'investments' table and return row id

In [31]:
# Define query function
def insert_into_investments(asset_id, exchange_id, open_price, open_timestamp, close_price, close_timestamp, engine):
    
    # Create query
    query = """
        INSERT INTO investments
        (asset_id, exchange_id, open_price, open_timestamp, close_price, close_timestamp)
        VALUES (
            """ + str(asset_id) + """,
            """ + str(exchange_id) + """,
            """ + str(open_price) + """,
            '""" + str(open_timestamp) + """',
            """ + str(close_price) + """,
            '""" + str(close_timestamp) + """'
        )
        RETURNING asset_id;
    """
    
    # Run query
    query_result = engine.connect().execute(db.text(query))
    return query_result.first()[0]

#### INSERT row into 'portfolios' table and return row id

In [30]:
# Define query function
def insert_into_portfolios(name, investment_period, engine):
    
    # Create query
    query = """
        INSERT INTO portfolios
        (name, investment_period)
        VALUES (
            '""" + name + """',
            """ + str(investment_period) + """
        )
        ON CONFLICT (name)
        DO UPDATE SET
            name='""" + name + """'
        RETURNING portfolio_id;
    """
    
    # Run query
    query_result = engine.connect().execute(db.text(query))
    return query_result.first()[0]

#### INSERT row into 'assets_portfolios' junction table and return row id

In [34]:
# Define query function
def insert_into_assets_portfolios(portfolio_id, asset_id, weight, engine):
    
    # Create query
    query = """
        INSERT INTO assets_portfolios
        (portfolio_id, asset_id, weight)
        VALUES (
            """ + str(portfolio_id) + """,
            """ + str(asset_id) + """,
            """ + str(weight) + """
        )
        RETURNING portfolio_id;
    """
    
    # Run query
    query_result = engine.connect().execute(db.text(query))
    return query_result.first()[0]

#### DELETE row from 'exchanges' table and return row id

In [4]:
# Define query function
def delete_from_exchanges(exchange_id, engine):
    
    # Create query
    query = """
        DELETE FROM exchanges
        WHERE exchange_id = """ + str(exchange_id) + """
        RETURNING exchange_id;
    """
    
    # Run query
    query_result = engine.connect().execute(db.text(query))
    return query_result.first()[0]

#### DELETE row from 'portfolios' table and return row id

In [1]:
# Define query function
def delete_from_portfolios(portfolio_id, engine):
    
    # Create query
    query = """
        DELETE FROM portfolios
        WHERE portfolio_id = """ + str(portfolio_id) + """
        RETURNING portfolio_id;
    """
    
    # Run query
    query_result = engine.connect().execute(db.text(query))
    return query_result.first()[0]

#### DELETE all rows for one portfolio from 'assets_portfolios' table and return row ids

In [2]:
# Define query function
def delete_from_assets_portfolios(portfolio_id, engine):
    
    # Create query
    query = """
        DELETE
        FROM assets_portfolios
        WHERE portfolio_id = """ + str(portfolio_id) + """
        RETURNING portfolio_id;
    """
    
    # Run query
    query_result = engine.connect().execute(db.text(query))
    return query_result

#### SELECT all rows from 'exchanges' table

In [1]:
# Define query function
def select_all_exchanges_data(engine):
    
    # Create query
    query = """
        SELECT * FROM exchanges;
    """
    
    # Run query
    query_result = pd.read_sql(query, engine)
    return query_result

#### SELECT all rows from 'investments' table

In [2]:
# Define query function
def select_all_investments_data(engine):
    
    # Create query
    query = """
        SELECT * FROM investments;
    """
    
    # Run query
    query_result = pd.read_sql(query, engine)
    return query_result

#### SELECT all portfolio data from 'assets', 'assets_portfolios' and 'portfolios' tables

In [3]:
# Define query function
def select_all_portfolio_data(engine):
    
    # Create query
    query = """
        SELECT p.portfolio_id, p.name portfolio_name, p.investment_period, a.asset_id, a.ticker, a.name ticker_name, ap.weight
        FROM portfolios p
        INNER JOIN assets_portfolios ap ON p.portfolio_id = ap.portfolio_id
        INNER JOIN assets a ON ap.asset_id = a.asset_id;
    """
    
    # Run query
    query_result = pd.read_sql(query, engine)
    return query_result

#### SELECT all data for one portfolio from 'assets', 'assets_portfolios' and 'portfolios' tables

In [4]:
# Query to select specific portfolio data
def select_portfolio_data(portfolio_id, engine):
    query = """
        SELECT p.portfolio_id, p.name portfolio_name, p.investment_period, a.asset_id, a.ticker, a.name ticker_name, ap.weight
        FROM portfolios p
        INNER JOIN assets_portfolios ap ON p.portfolio_id = ap.portfolio_id
        INNER JOIN assets a ON ap.asset_id = a.asset_id
        WHERE p.portfolio_id = """ + str(portfolio_id) + """;
    """
    
    query_result = pd.read_sql(query, engine)
    return(query_result)

#### SELECT all data from 'assets' table

In [5]:
# Query to select all data from 'assets' table
def select_all_assets_data(engine):
    query = """
        SELECT *
        FROM assets;
    """
    
    # Run query
    query_result = pd.read_sql(query, engine)
    return(query_result)